
/* Your CSS Code here. */
/* .margin{
	border:2px solid black;
}
.border{
	margin:20px;
	background-color:blue;
}
.padding{
	margin:15px;
	background-color:lightblue;
} */
.content{
	border:15px solid blue;
	margin:20px;
	text-align:center;
	width:300px;
	background-color:rgb(173, 216, 230);
	padding:50p;
}
